In [1]:
import pandas as pd
import numpy as np

In [2]:
attr = ['stdno', '1st', '2nd', '3rd', 'average', 'result']
path = open('studentData.csv', 'r')
dataset = pd.read_csv(path, names = attr)

In [3]:
dataset.shape

(10, 6)

In [4]:
dataset.head(15)

   stdno  1st  2nd  3rd    average  result
0      1   86   51   72  69.666667       1
1      2   76   61   93  76.666667       1
2      3   75   78   90  81.000000       1
3      4   54   58   28  46.666667       0
4      5   84   16   80  60.000000       1
5      6   23   77   89  63.000000       1
6      7   67   93   55  71.666667       1
7      8   23   67   27  39.000000       0
8      9   67   52   19  46.000000       0
9     10   57   74   89  73.333333       1

In [5]:
dataset.describe()

          stdno        1st        2nd        3rd    average     result
count  10.00000  10.000000  10.000000  10.000000  10.000000  10.000000
mean    5.50000  61.200000  62.700000  64.200000  62.700000   0.700000
std     3.02765  22.606784  20.976442  29.547702  14.441410   0.483046
min     1.00000  23.000000  16.000000  19.000000  39.000000   0.000000
25%     3.25000  54.750000  53.500000  34.750000  50.000000   0.250000
50%     5.50000  67.000000  64.000000  76.000000  66.333333   1.000000
75%     7.75000  75.750000  76.250000  89.000000  72.916667   1.000000
max    10.00000  86.000000  93.000000  93.000000  81.000000   1.000000

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   stdno    10 non-null     int64
 1   1st      10 non-null     int64
 2   2nd      10 non-null     int64
 3   3rd      10 non-null     int64
 4   average  10 non-null     float64
 5   result   10 non-null     int64
dtypes: float64(1), int64(5)
memory usage: 608.0 bytes

In [7]:
dataset.isnull().sum()

stdno      0
1st        0
2nd        0
3rd        0
average    0
result     0
dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
withoutResult = dataset.iloc[:, dataset.columns!='result']
result = dataset.iloc[:, dataset.columns=='result']

In [10]:
print(withoutResult)
print("\n")
print(result)

stdno  1st  2nd  3rd    average
0      1   86   51   72  69.666667
1      2   76   61   93  76.666667
2      3   75   78   90  81.000000
3      4   54   58   28  46.666667
4      5   84   16   80  60.000000
5      6   23   77   89  63.000000
6      7   67   93   55  71.666667
7      8   23   67   27  39.000000
8      9   67   52   19  46.000000
9     10   57   74   89  73.333333


   result
0       1
1       1
2       1
3       0
4       1
5       1
6       1
7       0
8       0
9       1

In [11]:
withoutResultTrainData, withoutResultTestData, resultTrainData, resultTestData = train_test_split(withoutResult, result, test_size=0.2)

In [12]:
resultTestData.head(15)

   result
0       1
2       1

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
model = RandomForestClassifier()
model.fit(withoutResultTrainData, resultTrainData)

RandomForestClassifier()

In [15]:
predict = model.predict(withoutResultTestData)
print(predict)

[1 1]

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
accuracy = accuracy_score(predict, resultTestData)
print(accuracy)

1.0